.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__content {
  background-color: white;
  width: 496px;
  height: 436px;
  border-radius: 20px;
  padding: 0px 0px;
  position: relative;
}
.modal__button {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  left: 448px;
  top: 20px;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(../../images/closeBtnBlack.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
}

.modal__title {
  margin: 0px 0px;
  position: absolute;
  top: 28px;
  left: 28px;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__inputs {
  position: absolute;
  top: 72px;
  left: 28px;
  display: flex;
  flex-direction: column;
}
.modal__label {
  padding-bottom: 8px;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__radio-btns {
  position: absolute;
  left: 28px;
  top: 224px;
}

.modal__option {
  padding-bottom: 8px;
}
.modal__submit-btn {
  position: absolute;
  left: 28px;
  top: 364px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  text-decoration: #ffffff;
  color: #ffffff;
}

.modal__input-box {
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  border: 0;
  border-bottom: 1px solid #000000;
  width: 440px;
  margin-bottom: 24px;
}
.modal__radio-title {
  margin: 0px;
  padding-bottom: 12px;
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
