.card {
  display: flex;
  flex-direction: column;
  border-radius: 100%;
}
.card_section {
  margin-top: 20px;
}
/* .card__name-container {
  display: flex;
  background-color: #ffffff;
  height: 24px;
  border-radius: 10px;
  position: absolute;
} */
.card_name {
}

.card_image {
  width: 328px;
  height: 328px;
  border-radius: 10%;
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
