.card {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.card__section {
  margin: 20px 40px;
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}
.card__name-container {
  display: flex;
  background-color: #ffffff;
  height: 24px;
  border-radius: 4px;
  position: absolute;
  margin-top: 15px;
}
.card__name {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 12px;
  padding-left: 12px;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10%;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
